annotated-types==0.7.0
attrs==26.1.0
jsonschema==4.26.0
jsonschema-path==0.4.5
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
numpy==2.4.4
openapi-schema-validator==0.8.1
openapi-spec-validator==0.8.5
opencv-python-headless==4.13.0.92
pathable==0.5.0
pillow==12.2.0
pydantic==2.13.3
pydantic-settings==2.14.0
pydantic_core==2.46.3
PyMuPDF==1.27.2.3
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
rfc3339-validator==0.1.4
rpds-py==0.30.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
